{% extends 'layout.html' %}

{% block title %}Project Documents{% endblock %}

{% block content %}
    <h1>{{ project.name }} - Document files</h1>
    {% include 'navbar.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <h2>Upload a document</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="document_type">Document Type:</label>
        <select id="document_type" name="document_type">
            <option value="Initiation Document">Initiation Document</option>
            <option value="Requirements Document">Requirements Document</option>
            <option value="Team Placement Document">Team Placement Document</option>
            <option value="readme">README</option>
            <option value="Historical Profit Report (Annual)">Historical Profit Report (Annual)</option>
            <option value="Projected Profit Report (Annual)">Projected Profit Report (Annual)</option>
        </select>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-upload"></i> Upload
        </button>
    </form>

    <h2>Existing documents</h2>
    <ul>
        {% for file in document_files %}
            <li>
                <a href="{% url 'download_file' pk=project.id file_id=file.id %}">Download {{ file.file.name }}</a>
            </li>
        {% empty %}
            <li>No document files found.</li>
        {% endfor %}
    </ul>
{% endblock %}
